<template>
        <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">VueJS Demo</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Users
                        <button type="button" @click="openModal('user','register')" class="btn btn-secondary">
                            <i class="icon-plus"></i>&nbsp;New User
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="firstName">First Name</option>
                                      <option value="lastName">Last Name</option>
                                      <option value="email">Email</option>
                                    </select>
                                    <input type="text" v-model="search" @keyup.enter="listUser(1,search,criterio)" class="form-control" placeholder="Text to search">
                                    <button type="submit" @click="listUser(1,search,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Rol</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in arrayUser" :key="user.id">
                                    <td v-text="user.firstName"></td>
                                    <td v-text="user.lastName"></td>
                                    <td v-text="user.email"></td>
                                    <td v-text="user.phone"></td>
                                    <td v-text="user.address"></td>
                                    <td v-text="user.rol"></td>
                                    <td>
                                        <button type="button" @click="openModal('user','update',user)" class="btn btn-warning btn-sm">
                                          <i class="icon-pencil"></i>
                                        </button>&nbsp;
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,search,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,search,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,search,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="modalTitle"></h4>
                            <button type="button" class="close" @click="closeModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">First Name (*)</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="firstName" class="form-control" placeholder="First Name">                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="text-input">Last Name (*)</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="lastName" class="form-control" placeholder="Last Name">                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Email (*)</label>
                                    <div class="col-md-9">
                                        <input type="email" v-model="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Phone</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="phone" class="form-control" placeholder="Phone">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Address</label>
                                    <div class="col-md-9">
                                        <input type="text" v-model="address" class="form-control" placeholder="Address">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Rol (*)</label>
                                    <div class="col-md-9">
                                        <select class="form-control" v-model="idrol">
                                            <option value="0">Select one rol</option>
                                            <option v-for="rol in arrayRol" :key="rol.id" :value="rol.id" v-text="rol.name">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="email-input">Password (*)</label>
                                    <div class="col-md-9">
                                        <input type="password" v-model="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>

                                <div v-show="userError" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorShowMsjUser" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="closeModal()">Close</button>
                            <button type="button" v-if="actionType==1" class="btn btn-primary" @click="registeruser()">Save</button>
                            <button type="button" v-if="actionType==2" class="btn btn-primary" @click="updateUser()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</template>

<script>
    export default {
        data (){
            return {
                user_id: 0,
                firstName : '',
                lastName : '',
                email : '',
                phone : '',
                email : '',
                address : '',
                password : '',
                idrol : 0,
                arrayUser : [],
                arrayRol : [],
                modal : 0,
                modalTitle : '',
                actionType : 0,
                userError : 0,
                errorShowMsjUser : [],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'firstName',
                search : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        methods : {
            listUser (page,search,criterio){
                let me=this;
                var url= '/user?page=' + page + '&search='+ search + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayUser = respuesta.user.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectRol(){
                let me=this;
                var url= '/rol';
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayRol = respuesta.roles;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            cambiarPagina(page,search,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listUser(page,search,criterio);
            },
            registeruser(){
                if (this.validateUser()){
                    return;
                }
                
                let me = this;

                axios.post('/user/register',{
                    'firstName': this.firstName,
                    'lastName' : this.lastName,
                    'email' : this.email,
                    'phone' : this.phone,
                    'address' : this.address,
                    'password': this.password,
                    'idrol' : this.idrol

                }).then(function (response) {
                    me.closeModal();
                    me.listUser(1,'','firstName');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            updateUser(){
               if (this.validateUser()){
                    return;
                }
                
                let me = this;

                axios.put('/user/update',{
                    'firstName': this.firstName,
                    'lastName' : this.lastName,
                    'email' : this.email,
                    'phone' : this.phone,
                    'address' : this.address,
                    'password': this.password,
                    'idrol' : this.idrol,
                    'id': this.user_id
                }).then(function (response) {
                    me.closeModal();
                    me.listUser(1,'','firstName');
                }).catch(function (error) {
                    console.log(error);
                }); 
            },            
            validateUser(){
                this.userError=0;
                this.errorShowMsjUser =[];

                if (!this.firstName) this.errorShowMsjUser.push("The First Name of the user can not be empty.");
                if (!this.lastName) this.errorShowMsjUser.push("The Last Name of the person can not be empty.");
                if (!this.email) this.errorShowMsjUser.push("The Email of the person can not be empty.");
                if (!this.phone) this.errorShowMsjUser.push("The Phone of the person can not be empty.");
                if (!this.address) this.errorShowMsjUser.push("The Address of the person can not be empty.");
                if (!this.password) this.errorShowMsjUser.push("The Password of the person can not be empty.");

                if (this.idrol==0) this.errorShowMsjUser.push("You must select a role for the user.");

                if (this.errorShowMsjUser.length) this.userError = 1;

                return this.userError;
            },
            closeModal(){
                this.modal=0;
                this.modalTitle='';
                this.firstName='';
                this.lastName='';
                this.email='';
                this.phone='';
                this.address='';
                this.password='';
                this.idrol=0;
                this.userError=0;

            },
            openModal(modelo, accion, data = []){
                this.selectRol();
                switch(modelo){
                    case "user":
                    {
                        switch(accion){
                            case 'register':
                            {
                                this.modal = 1;
                                this.modalTitle = 'User Register';
                                this.firstName= '';
                                this.lastName='';
                                this.email='';
                                this.phone='';
                                this.address='';
                                this.password='';
                                this.idrol=0;
                                this.actionType = 1;
                                break;
                            }
                            case 'update':
                            {
                                this.modal=1;
                                this.modalTitle='User Update';
                                this.actionType=2;
                                this.user_id=data['id'];
                                this.firstName = data['firstName'];
                                this.lastName = data['lastName'];
                                this.email = data['email'];
                                this.phone = data['phone'];
                                this.address = data['address'];
                                this.password = data['password'];
                                this.idrol = data['idrol'];
                                break;
                            }
                        }
                    }
                }
            },
        },
        mounted() {
            this.listUser(1,this.search,this.criterio);
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
